 <div class="dashboard-container">
    <ul class="registered-contact-list">
        {{!-- <div id="numbers-title">
        <div class="user-number">User Number</div>

        <div>Code Sent</div>
            <div>
        </div>
        </div> --}}


        <li>
        <div class="user-number">
            {{username}}
        </div>

        <div class="code-sent">73845</div>

        <div>
        <a class="detail-btn">Details</a>  
        <a class="delete-btn">Delete</a>      
        </div>
        
        </li>

        <li>
        <div class="user-number">{{ role }}</div>
        <div class="code-sent">73845</div>

        <div>
         <a class="detail-btn">Details</a>    
         <a class="delete-btn">Delete</a>    
        </div>
        
        </li>

        <li>
        <div class="user-number">{{ bio }}</div>

        <div class="code-sent">73845</div>

        <div>
         <a class="detail-btn">Details</a>    
        <a class="delete-btn">Delete</a>    
        </div>
        
        </li>
    </ul>
</div>
