<div class="card-container">
    <a href="/core/user-admin" class="option-card">
        <img src="/images/svg/dashboard.svg">
        <div class="overlay-text">Dashboard</div>
    </a>

    <a class="option-card">
        <img src="/images/svg/sign_up.svg" >
        <div class="overlay-text">Register</div>
    </a>

    <a class="option-card">
        <img src="/images/svg/logs.svg" >
        <div class="overlay-text">Logs</div>
    </a>
    
    <a href="/about" class="option-card">
        <img src="/images/svg/info.svg" >
        <div class="overlay-text">Platform Info</div>
    </a>
</div>
{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
