<!DOCTYPE html>
<html>
  <head>
    <title>Pluginsd</title>
    {{!-- <script src="https://cdn.tailwindcss.com"></script> --}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav id="nav-bar">
    <div>
        <ul id="nav-bar-list">
        <li>
          <a href="/"  id="logo-container">
             <img src="/images/logo.png">
             <h2>Pluginsd</h2>
          </a>
         </li>
    </ul>
    </div>

    <div id="rightNav">
        {{!-- <input type="text" 
        name="search" 
        id="search" 
        placeholder="Search">
        <button class="btn btn-sm">Search</button> --}}
        <h2>{{ user.email }}</h2>
    </div>
  </nav>
    {{{body}}}

    <footer>
      <ul id="nav-bar-list">
        <li><a href="/">Contact Us</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </footer>
  </body>
</html>
