<div id="signup-container">
    <img src="/images/svg/personal.svg">
    <form id="signup-form" method="POST" action="/accounts/register">
        <h1 id="signup-label">Sign Up</h1>
        {{!-- <img src="/images/svg/reg.svg" > --}}
        <input name="email" type="email" placeholder="Email">
        <input name="password" placeholder="Password" type="password">
        <button type="submit">Submit</button>
        <a href="/accounts/login">Already Have An Account</a>
    </form>
</div>